{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>jss Page</title>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/style.css' %}" media="screen">
</head>

<style src="{% static 'css/style.css' %}">
</style>


<body>

    <script src="{% static 'js/scripts.js' %}"></script>
    
    <div class="jumbotron">
        <div class="row">
            <div class="container photoSkills col-sm-6">
                <h1> Hello, Its Me!!</h1>
                <img src="{% static 'img/me.jpg' %}"  alt="foto" class="me">
                <form>
                  <fieldset id="fieldsetah" >
                    <legend id="deskripsi" style="text-align: center;"><i>My Description</i></legend>
                        <table>
                            <tr>
                                 <td>
                                    <b>Name : Muhammad Destara Syanandi</b> 
                                </td>                                    
                           </tr>
                           <tr>                          
                                <td>
                                   <b>NPM : 1806186856</b> 
                                </td>
                                                
                            </tr>
                            <tr>
                                <td>
                                    <b>Umur : 18 Tahun  </b> 
                                </td>
                                                
                            </tr>
                            <tr>
                                <td>
                                    <b>Gender :Laki</b> 
                                </td>
                                                
                            </tr> 
                            <tr>
                                <td>
                                    <b>Email :destarasyanando@gmail.com</b> 
                                </td>
                                                
                            </tr>    
                                        
                            <tr>
                                            <td>
                                                <b>Deskripsi Singkat : </b>
                                                <p id="pajah">“Hello , my name is Muhammad Destara syanandi. <br> Im a  Computer 
                                                        Science Student at Universitas Indonesia. <br>
                                                        My passion si programming and public speaking.”
                                                </p>
                                            </td>
    
                                       </tr>
                                    </table>
                        </fieldset>
                    
                </form>
                
            </div>

            <div class="container photoSkills col-sm-6">
                <h2>My List :</h2>
                <ul class = "accordion">
                        <li class = "accordion-item">
                            <h4 class="accordion-thumb">Aktivitas</h4>
                            <div class="accordion-panel">
                                <p>+<strong>'No-pain No-gain'</strong>Workout </p>
                                <p>+Nongsky</p>
                                <p>+Beribadah</p>
                            </div>
                        </li>
    
                        <li class = "accordion-item">
                            <h4 class="accordion-thumb">Pengalaman Organisasi</h4>
                            <div class="accordion-panel">
                                    <p>-Staff Compfest 'Direct Marketing'</p>
                                    <p>-Staff PMB 'Mentor'</p>
                                    <p>-Staff CGT 'Bazom'</p>
                                    <p>-Volunterr OSUI 'Stage Crew'</p>
                            </div>
                        </li>
                        
    
                        <li class = "accordion-item">
                                <h4 class="accordion-thumb">Achievement</h4>
                                <div class="accordion-panel">
                                        <p>-nothing</p>
                                        <p>-nein</p>
                                        <p>-ora' ada</p>
                                </div>
                        </li>
                        
                    </ul>
            </div>

            
            <button type="button" class="button change-button" style="text-align: center;">Click Me !</button>

        </div>

    </div>
   

</body>
</html>